*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 700px;
  width: 100%;
  position: relative;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b00e0b9, #8d2de2b4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b00e0af, #8d2de2ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-header {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transform:  scale(1);
  transition: transform .2s;
  z-index: 20;
  animation: escalar .5s 3 alternate;
}

.menu-header:active {
  transform: scale(0.9);
}

@keyframes escalar {
  0% {
    transform: scale(0.1);
  }
}

/* estilos header */
.contenido-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 550px;
  margin: auto;
  color: #fff;
  overflow: hidden;
}

.contenido-header .textos-header {
  width: 50%;

}

.contenido-header h1 {
  font-size: 60px;
}

.textos-header>a {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 300;
  margin-top: 20px;
  padding: 5px 2px;
  width: 120px;
  text-align: center;
}

.contenido-header .img-header {
 width: 50%; 
}

.img-header img {
  width: 100%;
}